/****************************dr_log_foot****************************************/
.dr_log_foot{
	margin-top: 33px;
	margin-bottom: 33px;
	width:100%;
}
.dr_log_foot_container{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.other{
	margin-top: 22px;
    color: #A1A1A1;
    text-decoration: none;
    font-size: 13px;
    transition: color 300ms ease-in;
    font-family:  Gotham;
    text-align: center;
}
.other:hover{
	color: #000000;
}